---
import cat1 from "../assets/cat-1.jpg";
import cat2 from "../assets/cat-2.jpg";
import cat3 from "../assets/cat-3.jpeg";
import cat4 from "../assets/cat-4.jpg";
import cat5 from "../assets/cat-5.jpg";
---

<div
  class="mx-auto lg:w-[60%] w-[90%] max-w-[900px] bg-nord-3 p-4 rounded-xl shadow-md shadow-nord-2"
>
  <div
    class="bg-gradient-to-r from-nord-9 to-nord-10 rounded-xl py-12 relative"
  >
    <div class="text-nord-6 text-center w-[80%] md:w-[70%] lg:w-[60%] mx-auto">
      <h2 class="text-3xl font-bold">Already working together?</h2>
      <p class="font-light w-[70%] mx-auto">
        Log in to your account and connect with your purrmates!
      </p>
      <form
        action=""
        id="email-form"
        class="md:mx-8 my-8 flex p-1 shadow-md shadow-nord-3 rounded-full bg-nord-8 focus-within:shadow-nord-4"
      >
        <label for="email"></label>
        <input
          class="flex-grow border-none bg-transparent focus:outline-none pl-4 placeholder:text-nord-6"
          type="email"
          name="email"
          id="email"
          placeholder="youremeow@cats.com"
        />
        <button class="w-12 h-12 text-nord-6 hover:text-nord-11">
          <svg
            fill="currentColor"
            preserveAspectRatio="none"
            viewBox="0 0 256 256"
            id="cat-paw"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M189.02051,145.33984A31.35052,31.35052,0,0,1,174.0918,126.606a47.99847,47.99847,0,0,0-92.18262-.00635,31.35,31.35,0,0,1-14.92969,18.74023,44.00739,44.00739,0,0,0,38.11719,79.21094,60.16331,60.16331,0,0,1,45.80664,0,44.00678,44.00678,0,0,0,38.11719-79.21094ZM168,204a19.86485,19.86485,0,0,1-7.80078-1.57568c-.04395-.019-.08887-.0376-.13379-.05616a84.02637,84.02637,0,0,0-64.13086,0c-.04492.01856-.08984.03711-.13379.05616a20.00673,20.00673,0,0,1-17.31445-36.02246c.03515-.01954.07129-.03907.10644-.05909A55.21137,55.21137,0,0,0,104.957,133.29541a23.99908,23.99908,0,0,1,46.08887.00439,55.20367,55.20367,0,0,0,26.36133,33.043c.03515.02.07129.03955.10644.05909A20.00364,20.00364,0,0,1,168,204Zm64-100a24,24,0,1,1-24-24A23.99994,23.99994,0,0,1,232,104ZM48,128a24,24,0,1,1,24-24A23.99994,23.99994,0,0,1,48,128ZM72,56A24,24,0,1,1,96,80,23.99994,23.99994,0,0,1,72,56Zm64,0a24,24,0,1,1,24,24A23.99994,23.99994,0,0,1,136,56Z"
            ></path>
          </svg>
        </button>
      </form>
      <div id="message" class="hidden">
        <button
          id="close"
          class="bg-nord-10 shadow-md shadow-nord-9 py-2 px-4 rounded-full"
        >
          <p>Thanks for signing up! ❌</p>
        </button>
      </div>
    </div>
    <div
      class="flex absolute -bottom-10 w-full justify-center gap-2 sm:gap-4 md:gap-8"
    >
      <div class="p-1 bg-nord-2 rounded-full max-w-16 h-16 overflow-hidden">
        <img
          class="block min-w-full min-h-full object-cover rounded-full"
          src={cat1.src}
          alt="some cat"
        />
      </div>
      <div class="p-1 bg-nord-2 rounded-full max-w-16 h-16 overflow-hidden">
        <img
          class="block min-w-full min-h-full object-cover rounded-full"
          src={cat2.src}
          alt="some cat"
        />
      </div>
      <div class="p-1 bg-nord-2 rounded-full max-w-16 h-16 overflow-hidden">
        <img
          class="block min-w-full min-h-full object-cover rounded-full"
          src={cat3.src}
          alt="some cat"
        />
      </div>
      <div class="p-1 bg-nord-2 rounded-full max-w-16 h-16 overflow-hidden">
        <img
          class="block min-w-full min-h-full object-cover rounded-full"
          src={cat4.src}
          alt="some cat"
        />
      </div>
      <div class="p-1 bg-nord-2 rounded-full max-w-16 h-16 overflow-hidden">
        <img
          class="block min-w-full min-h-full object-cover rounded-full"
          src={cat5.src}
          alt="some cat"
        />
      </div>
    </div>
  </div>
</div>

<script>
  const emailForm = document.querySelector("#email-form");
  const message = document.querySelector("#message");
  const closeButton = document.querySelector("#close");

  emailForm.addEventListener("submit", (e) => {
    e.preventDefault();
    const formData = new FormData(e.target);
    const email = formData.get("email");
    console.log(email);
    emailForm.reset();
    message.style.display = "block";
  });

  closeButton.addEventListener("click", () => {
    message.style.display = "none";
  });
</script>
